*{
    margin: 0;
    padding: 0;
}

.input-container {
    padding: 50px;
    background-color:  #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.input-container >input, .input-container > button {
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.input-container > button{
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.input-container > button:hover{
    background-color: blue;
}
/* to remove the border on the text box upon mivng the curson there */
.input-container>input:focus{
    overflow: none;
}
#todos-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: bisque;

}
.todo-item{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: .2s;
    display: flex;
    justify-content: space-between;

}
.todo-item:hover{
    background-color: rgb(31, 24, 24);

}
.todo-item >b {
    font-size: 24px;
}

